body {
  background-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23999999' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  color: #fff;
  text-align: center;
}

div {
  margin: 0.5rem 0;
}

input {
  padding: 2px;

  /* 100% of the parent's width */
  width: 100%;
}

input,
button {
  border-radius: 4px;
}

input:focus {
  outline: none;
}

button[type="submit"] {
  background-color: #007300;
  color: whitesmoke;
  max-width: 96px;
}

button {
  background: none;
  border: none;
  padding: 0.5rem;

  /* Transition all properties over 0.2s using an 'ease' timing function. */
  transition: all 0.2s ease;
}

button,

/* Attribute Selectors */
button[type="submit"]:focus,
button[type="submit"]:hover {
  color: #000;
}

button:focus,
button:hover,
button[type="submit"]:focus,
button[type="submit"]:hover {
  color: #333;
  cursor: pointer;
}

/* 'hover' and 'focus' should be used together for accessibility ♿ */
button[type="submit"]:focus,
button[type="submit"]:hover {
  background-color: #00e36c;
}

.card {
  animation-duration: 0.75s;
  animation-name: bounceIn;
  background: rgba(255, 255, 255, 0.75);

  /* x-offset y-offset blur radius */
  box-shadow: 1px 1px 10vmax 0.25rem rgba(255, 218, 135, 0.5);

  /* top/bottom 10% of the whichever viewport is the minimum (portait/landscape) */
  margin: 10vmin auto;
  max-width: 320px;
  padding: 1rem;
}

.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

.flex--justify-between {
  justify-content: space-between;
}

.rounded {
  /* Rounded corners */
  border-radius: 0.75rem;
}

/* Copied/pasted from CSS Tricks */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/* JS 'State' Classes */
.is-hidden {
  display: none;
}

.is-visible {
  display: initial;
}

/* Keyframes */
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
